<% include ../../partials/header %>

<div class="container">
    <h1 class="new_post">Tworzenie nowego folderu</h1>
    <form action="/gallery/firstGroup" method="POST">
        <div class="form-group">
            <label>Tytuł postu:</label>
            <input class="form-control" type="text" name="photoFolder[title]" placeholder="Tytuł folderu">
        </div>
        <div class="form-group">
            <label>Rok wydarzenia:</label>
            <input class="form-control" type="text" name="photoFolder[year]" placeholder="Rok wydarzenia np.2018/2019">
        </div>
        
        <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModal">Stwórz</button>
        <div class="panel-body back">
            <a class="btn btn-md btn-primary" href="/gallery/firstGroup">Cofnij</a>                       
        </div>        
            
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tworzenie nowego folderu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Czy na pewno chcesz stworzyć dany folder?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <input class="btn btn-md btn-primary" type="submit" value="Stwórz">        
              </div>
            </div>
          </div>
        </div>
        
        
    </form>
</div>

<% include ../../partials/footer %>