<% include ../../partials/header %>

<div class="container">
    
    <div class="row">
		<div id="postlist">
			<div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3><strong><%= photoFolder.title %> - <%= photoFolder.year %></strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="panel-body">
                    <p><%= photoFolder.body %></p>
                    <% if (currentUser) { %>
                        <a class="btn btn-md btn-primary" href="/gallery/firstGroup/<%= photoFolder._id %>/edit">Edytuj folder</a>
                        <button type="button" class="btn btn-md btn-danger" data-toggle="modal" data-target="#exampleModal">Usuń folder</button>
                    <% } %>
                </div>
                <div class="panel-body">
                    <a class="btn btn-md btn-primary" href="/gallery/firstGroup">Cofnij</a>                       
                </div>
            </div>
        </div>
        
            <% if (currentUser) { %>
            <div class="admin">
                <h1>Dodawanie zdjęć do folderu</h1>
                <form action="/gallery/firstGroup/<%= photoFolder._id %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" id="file" class="form-control-file" multiple accept="image/x-png,image/gif,image/jpeg,image/jpg">
                    </div>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
            <hr>
            <% } %>
            <% if (files) { %>
                <% for (var i = files.length - 1; i >= 0; i--) { %>
                    <div>
                        <% if (files[i].isImage && files[i].aliases === "/gallery/firstGroup/" + photoFolder._id) { %>
                			<div class="col-lg-4 col-sm-6">
                				<div class="thumbnail">
                					<a data-fancybox="gallery" href="https://webdev-rborawski.c9users.io/image/<%= files[i].filename %>"><img src="https://webdev-rborawski.c9users.io/image/<%= files[i].filename %>"></a>
                				</div>
                			<!--</div>-->
                			<% if (currentUser) { %>
                    			<div class="photoDelete">
                        			<form action="/files/<%=files[i]._id %>?_method=DELETE" method="POST">
                        			    <button class="btn btn-danger">Usuń zdjęcie</button>
                        			</form>
                        		</div>
                			<% } %>
                			</div>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <p>Brak zdjęć</p>
            <% } %>
        <!--</div>-->
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie folderu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć dany folder?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <form id="delete" action="/gallery/firstGroup/<%= photoFolder._id %>?_method=DELETE" method="POST">
            <button class="btn btn-md btn-danger">Usuń</button>
        </form>        
      </div>
    </div>
  </div>
</div>

<% include ../../partials/footer %>
<script>
    $('#gallery').addClass('active');
</script>