<% include ../partials/header %>

<div class="container">
		<div class="jumbotron">
			<h1><i class="fas fa-camera-retro"></i> Galeria Zdjęć</h1>
			<p>Zdjęcia poszczególnych grup</p>
		</div>
		<div class="row">
			<div>
				<a href="/gallery/firstGroup">Grupa 1 - młodsze dzieci</a>
				<hr>
				<a href="/gallery/secondGroup">Grupa 2 - starsze dzieci</a>
			</div>

		</div>
	</div>
	
	



<% include ../partials/footer %>
<script>
    $('#gallery').addClass('active');
</script>