<!DOCTYPE html>
<html>
    <head>
	    <title>Akademia Przedszkolaka</title>
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	    <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <nav class="navbar navbar-default navbar-fixed-top">
    	  <!--<div class="container">-->
    	    <!-- Brand and toggle get grouped for better mobile display -->
    	    <div class="navbar-header">
    	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    	        <span class="sr-only">Toggle navigation</span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	        <span class="icon-bar"></span>
    	      </button>
    	      <a class="navbar-brand" href="/posts">Akademia Przedszkolaka</a>
    	    </div>
    
    	    <!-- Collect the nav links, forms, and other content for toggling -->
    	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	      <ul class="nav navbar-nav">
    	        <li id="posts" class="activeChange"><a href="/posts">Aktualności</a></li>
    	        <li id="home" class="activeChange"><a href="/home">O nas</a></li>
    	        <!--<li id="cadre" class="activeChange"><a href="/cadre">Kadra</a></li>
    	        <li id="activities" class="activeChange"><a href="/activities">Zajęcia</a></li>
    	        <li id="menu" class="activeChange"><a href="/menu">Jadłospis</a></li>-->
    	        <li id="gallery" class="activeChange"><a href="/gallery">Galeria</a></li>
    	        <li id="recrutation" class="activeChange"><a href="/recrutation">Rekrutacja oraz cennik</a></li>
    	        <li id="download" class="activeChange"><a href="/download">Do pobrania</a></li>
    	        <li id="contact" class="activeChange"><a href="/contact">Kontakt</a></li>
    	      </ul>
    	      <ul class="nav navbar-nav navbar-right">
    	            <% if (currentUser) { %>
    	                <li><a href="#">Zalogowano jako: <%= currentUser.username %></a></li>    	            
    	                <li><a href="/logout">Wyloguj</a></li>  
    	            <% } %>
    	      </ul>
    	    </div>
    	  <!--</div>-->
    	</nav>