<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>Kontakt</h1>
	</div>
	
	<div class="row">
			<div class="col-lg-6 col-sm-6">
				<p><strong>Przedszkole Językowo-Artystyczne "Akademia Przedszkolaka" w Łomży</strong></p>
				<p>ul. Władysława Reymona 11a</p>
				<p>18-400 Łomża</p>
				<p>telefon: +48 797 987 800</p>
				<p>e-mail: akademia.przedszkolaka.lomza@wp.pl</p>
				<p></p>
				<p><strong>Czynne w godzinach:</strong></p>
				<p>Pn-Pt od 7:00 do 17:00</p>
				<p></p>
				<p><strong>Spotkanie z Dyrektorem</strong></p>
				<p>możliwe w godzinach pracy po wcześniejszym umówieniu</p>

			</div>
			<div class="col-lg-6 col-sm-6">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2391.9007117760793!2d22.067959916136957!3d53.165820779941576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471e338e8b8fab9d%3A0x82ed5204d2552931!2zV8WCYWR5c8WCYXdhIFJleW1vbnRhIDExYSwgMTgtNDAwIMWBb23FvGE!5e0!3m2!1spl!2spl!4v1549625916012" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
	</div>
    <!--<img src="https://www.photosforclass.com/download/pixabay-1864718?webUrl=https%3A%2F%2Fpixabay.com%2Fget%2Fe83db70b2ff5093ed1584d05fb1d4e97e07ee3d21cac104491f9c778a4ecbcba_960.jpg&user=FeeLoona">-->
</div>


<% include partials/footer %>
<script>
    $('#contact').addClass('active');
</script>