<% include partials/header %>

<div class="container">
    <h3>Karta zgłoszenia dziecka do przedszkola
        <a download href="https://drive.google.com/open?id=1wSAmYPNRNLEpb40BPd__5YfcsWT0nLIT">
            <button class="btn btn-md"><i class="fa fa-download"></i> Pobierz</button>
        </a> 
    </h3>
</div>


<% include partials/footer %>
<script>
    $('#download').addClass('active');
</script>