<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/gallery.css">

<div class="container">
		<div class="jumbotron">
			<h1><i class="fas fa-camera-retro"></i> Galeria Zdjęć</h1>
			<p>A bunch of beautiful images A bunch of beautiful images A bunch of beautiful images</p>
		</div>
		<div class="row">
			<div>
				<a href="#">Grupa 1</a>
				<a href="#">Grupa 2</a>
			</div>

			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<a data-fancybox="gallery" href="https://i.ibb.co/X4vKDqV/IMG-7917.jpg"><img src="https://i.ibb.co/X4vKDqV/IMG-7917.jpg"></a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<a data-fancybox="gallery" href="https://i.ibb.co/85xPGxw/podglad-5.jpg"><img src="https://i.ibb.co/85xPGxw/podglad-5.jpg"></a>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail">
					<a data-fancybox="gallery" href="https://i.ibb.co/qr3dXBV/IMG-6796.jpg"><img src="https://i.ibb.co/qr3dXBV/IMG-6796.jpg"></a>
				</div>
			</div>
			
		</div>
	</div>
	
	



<% include partials/footer %>
<script>
    $('#gallery').addClass('active');
</script>