<% include partials/header %>

<div class="container">
	<div class="jumbotron">
		<h1>
		    <div>
		        Przedszkole Językowo-Artystyczne
		    </div>
		    <div>
		        "Akademia Przedszkolaka"
		    </div>
		    <div>
		        w Łomży    
		    </div>
	    </h1>
	    <h2>ul. Władysława Reymonta 11a</h2>
	</div>
	<h1>O nas</h1>
	<div class="row">
			<div class="col-lg-6 col-sm-6">
				<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
			</div>
			<div class="col-lg-6 col-sm-6">
				<div class="thumbnail">
					<img src="https://images.unsplash.com/photo-1541692641319-981cc79ee10a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
				</div>
			</div>
	</div>
    <!--<img src="https://www.photosforclass.com/download/pixabay-1864718?webUrl=https%3A%2F%2Fpixabay.com%2Fget%2Fe83db70b2ff5093ed1584d05fb1d4e97e07ee3d21cac104491f9c778a4ecbcba_960.jpg&user=FeeLoona">-->
</div>



<% include partials/footer %>
<script>
    $('#home').addClass('active');
</script>