<!DOCTYPE html>
<html>
    <head>
        <title>Akademia Przedszkolaka</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
    
    <div id="landing-header">
 		<h1>Przedszkole Językowo-Artystyczne</h1>
 		<h2>"Akademia Przedszkolaka"</h2>
 		<h2>ul. Władysława Reymonta 11a</h2>
 		<h2>18 - 400 Łomża</h2>
		<a href="/posts" class="btn btn-lg btn-success"> <i class="fas fa-shapes"></i>  Zaczynamy!</a>
    </div>
        
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </body>
</html>
