<h1>Logowanie</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Nazwa użytkownika">
    <input type="password" name="password" placeholder="Hasło">
    <button>Zaloguj</button>
</form>