<h1>Rejestracja użytkownika</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Nazwa użytkownika">
    <input type="password" name="password" placeholder="Hasło">
    <button>Zarejestruj</button>
</form>