<% include ../../partials/header %>

<div class="container">
    <h1 class="new_post">Edycja folderu: <%= photoFolder.title %></h1>
    <form action="/gallery/secondGroup/<%= photoFolder._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label>Tytuł folderu:</label>
            <input class="form-control" type="text" name="photoFolder[title]" value="<%= photoFolder.title %>">
        </div>
        <div class="form-group">
            <label>Data wydarzenia:</label>
            <input class="form-control" type="text" name="photoFolder[year]" value="<%= photoFolder.year %>">
        </div>
        <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModal">Edytuj</button>
        <div class="panel-body back">
          <a class="btn btn-md btn-primary" href="/gallery/secondGroup/<%= photoFolder._id %>">Cofnij</a>                       
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja folderu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Czy na pewno chcesz edytować dany folder?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <input class="btn btn-md btn-primary" type="submit" value="Edytuj">        
              </div>
            </div>
          </div>
        </div>
        
    </form>
</div>



<% include ../../partials/footer %>