<% include ../../partials/header %>

<div class="container">
    <% if (currentUser) { %>
        <a href="/gallery/secondGroup/new">
            <button class="btn btn-md btn-primary">Nowy folder</button>
        </a>
    <% } %>
    <div class="panel-body">
        <a class="btn btn-md btn-primary" href="/gallery">Cofnij</a>                       
    </div>
    <% for (var i = photoFolders.length - 1; i >= 0; i--) { %>
    <div class="row">
    		<div id="postlist">
    			<div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left"><strong><%= photoFolders[i].title %> - <%= photoFolders[i].year %></strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <div class="panel-body">
                    <p>
                        <a href="/gallery/secondGroup/<%= photoFolders[i]._id %>">Przejdź do tego folderu ze zdjęciami</a>
                    </p>
                </div>                    

                <div class="panel-footer"></div>                    
                </div>
            </div>
    </div>
    <% } %>
</div>



<% include ../../partials/footer %>
<script>
    $('#gallery').addClass('active');
</script>