body {
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 1.75rem;
}

.jumbotron {
    background-color: #e5f442;
    text-align: center;
}

#delete {
    display: inline;
}

.navbar-fixed-top {
    padding-right: 10px;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
        max-height: 1000px;
        font-size: 4rem !important;
        padding-bottom: 10px !important;
    }
    .collapsing {
        overflow: hidden!important;
        font-size: 4rem !important;
    }
    .col-lg-6 {
        font-size: 4rem !important;
    }
    .navbar-brand {
        font-size: 4rem !important;
    }
    .navbar {
        padding-bottom: 0px;
        padding-top: 15px;
    }
    .navbar-brand {
        height: 75px;
    }
    body {
        padding-top: 100px;
        font-size: 4rem;
    }
    
    h3 {
        font-size: 6rem;
    }
    h4 {
        font-size: 4rem;
    }
}

.navbar-collapse {
  padding-left: 20px !important;
  height: 600px !important;
  line-height: 1;
}

.navbar-collapse.collapse.in li{ 
    padding-bottom: 20px;
}

.collapsing li {
    padding-bottom: 20px;
}

.new_post {
    padding-bottom: 15px;
}

.back {
    padding-left: 0px;
}

a img {
    height: 200px !important;
}

.admin {
    border: 1px solid black;
    padding: 5px;
}

.photoDelete {
    padding-bottom: 40px;
}
