<% include ../partials/header %>

<div class="container">
    <h1 class="new_post">Edycja postu: <%= post.title %></h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <label>Tytuł postu:</label>
            <input class="form-control" type="text" name="post[title]" value="<%= post.title %>">
        </div>
        <div class="form-group">
            <label>Treść postu:</label>
            <textarea class="form-control" rows="10" name="post[body]"><%= post.body %></textarea>
        </div>
        <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModal">Edytuj</button>
        <div class="panel-body back">
          <a class="btn btn-md btn-primary" href="/posts">Cofnij</a>                       
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edycja postu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Czy na pewno chcesz edytować dany post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <input class="btn btn-md btn-primary" type="submit" value="Edytuj">        
              </div>
            </div>
          </div>
        </div>
        
    </form>
</div>



<% include ../partials/footer %>