<% include ../partials/header %>

<!--<div class="container">-->


<div class="container">
    <% if (currentUser) { %>
        <a href="/posts/new">
            <button class="btn btn-md btn-primary">Nowy post</button>
        </a>
    <% } %>
    <% for (var i = posts.length - 1; i >= 0; i--) { %>
    <div class="row">
        <!--<div class="col-md-1"></div>-->
    	<!--<div class="col-md-10">-->
    		<div id="postlist">
    			<div class="panel">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="pull-left"><strong><%= posts[i].title %></strong></h3>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="pull-right">
                                    <small><em><%= posts[i].created %></em></small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <div class="panel-body">
                    <p>
                        <% if (posts[i].body.length < 1000) { %>
                            <%= posts[i].body.substring(0) %> - <a href="/posts/<%= posts[i]._id %>">Przejdź do tego postu</a>
                        <% } else { %>
                            <%= posts[i].body.substring(0, 1000) %>... <a href="/posts/<%= posts[i]._id %>">Czytaj dalej</a>
                        <% } %>
                    </p>
                </div>
                <div class="panel-footer"></div>                    
                </div>
            </div>
        <!--</div>-->
    </div>
    <% } %>
</div>

<% include ../partials/footer %>
<script>
    $('#posts').addClass('active');
</script>