<% include ../partials/header %>

<div class="container">
    
    <div class="row">
		<div id="postlist">
			<div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left"><strong><%= post.title %></strong></h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em><%= post.created %></em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="panel-body">
                    <p><%= post.body %></p>
                    <% if (currentUser) { %>
                        <a class="btn btn-md btn-primary" href="/posts/<%= post._id %>/edit">Edytuj</a>
                        <button type="button" class="btn btn-md btn-danger" data-toggle="modal" data-target="#exampleModal">Usuń</button>
                    <% } %>
                </div>
                <div class="panel-body">
                    <a class="btn btn-md btn-primary" href="/posts">Cofnij</a>                       
                </div>
            </div>
        </div>
    </div>
  
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuwanie postu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy na pewno chcesz usunąć dany post?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn btn-md btn-danger">Usuń</button>
        </form>        
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>